/* Global */

.container {
    max-width: 1645px;
    margin: 0 auto;
    padding: 0 30px;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

/* END Global */

/* offcanvas */
.offcanvas {
    background-color: #17181A;
}

.offcanvas_img {
    width: 250px;
}

.btn_close_offcanvas {
    width: 100%;
    height: 35px;
    max-width: 35px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255 255 255 / 25%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.btn_close_offcanvas:hover {
    background-color: rgb(255 255 255 / 15%);
}

.offcanvas_info_wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #ffffff66;
    padding-bottom: 100px;
    margin-bottom: 10px;
}

.offcanvas_info_box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.offcanvas_info_box>svg {
    width: 30px;
    height: 30px;
}

.offcanvas_info_link {
    color: #FFFEFE;
    display: block;
    font-size: 16px;
}

.offcanvas_info_title {
    font-size: 18px;
    margin: 24px 0 5px;
}

.offcanvas_info_text {
    font-weight: 100;
    font-size: 16px;
}

.offcanvas_info_text>span {
    font-weight: 300;
}

.offcanvas-body {
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* END offcanvas */

/* Header */

.header {
    position: sticky;
    top: 0;
    background-color: #050505;
    z-index: 100;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.5);

}

.navbar-expand-xl .navbar-collapse {
    justify-content: space-between;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    padding: 0;
}

.navbar-toggler>svg {
    width: 30px;
    height: 30px;
}


.navbar-nav>.nav-link {
    color: #FFFEFE;
    font-size: 16px;
}

.navbar-nav>.nav-link:hover {
    color: #125DF0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.header_logo_nav {
    width: 20%;
}

.header_logo {
    max-width: 280px;
}

.header_logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.offcanvas_button {
    background-color: transparent;
    border: none;
}

.offcanvas_button>svg {
    width: 20px;
    height: 20px;
}

.offcanvas_button:hover>svg>g>g>path.st0 {
    fill: #125DF0;
}

.header_tel {
    color: #FFFEFE;
    font-size: 16px;
    text-decoration: none;
}

.header_tel_nav_bar {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_tel>svg {
    width: 30px;
    height: 30px;
}

.header_tel:hover>svg>g>path {
    fill: #125DF0;
}

/* END Header */


/* ========= Main========= */

/* Banner */
.main_banner {
    position: relative;
    height: 85vh;
    margin-bottom: 100px;
}

.main_banner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.main_banner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 25%), rgba(0, 0, 0, 100%));
    /* Пример градиента */
    pointer-events: none;
    /* Чтобы сделать изображение кликабельным */
}

.main_banner_info {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FFFEFE;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main_banner_title {
    font-size: 28px;
    font-weight: 100;
}

.main_banner_title>span {
    color: red;
}

.main_banner_logo {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px;
}

.main_banner_text {
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

.main_banner_bottom_text {
    font-weight: 300;
}

/* END Banner */

/* our services */
.our_services {
    background-color: #050505;
    margin-bottom: 100px;
}

.our_services_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 50px;
}

.our_services_title {
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;

}

.our_services_text {
    width: 50%;
    font-weight: 200;

}

.our_services_btn {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #FFFEFE;
}

.our_services_btn>svg {
    width: 25px;
    height: 25px;
    transition: all ease .1s;
}

.our_services_btn:hover>svg {
    padding-left: 5px;
    transition: all ease .1s;
}

.our_services_slide {
    position: relative;
    height: 480px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.our_services_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 25px;

}

.our_services_slide:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 20%), rgba(0, 0, 0, 60%));
    pointer-events: none;
}

.our_services_slide:hover:before {
    background: linear-gradient(rgba(0, 0, 0, 50%), rgba(0, 0, 0, 70%));


}

.our_services_slide_info {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.our_services_slide_info_title {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.our_services_slide_info_text {
    font-size: 16px;
    line-height: normal;
    font-weight: 100;
}

/* END our services */

/* marquee */

.section_marquee {
    background-color: #17181A;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee span {
    display: inline-block;
    animation: marquee 40s linear infinite;
    font-size: 20em;
    text-transform: uppercase;
    opacity: 75%;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

/*  END marquee */


/* why_us */

.section_why_us {
    background-color: #17181A;
    padding: 100px 0 50px;
}

.why_us_up_box {
    margin-bottom: 25px;
}

.why_us_up_title {
    font-size: 32px;
    margin-bottom: 10px;
}

.why_us_up_text {
    font-size: 16px;
    width: 50%;
    margin: 0 auto;
}

.why_us_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.why_us_img {
    width: 100%;
    border-radius: 15px;
}

.why_us_info_wrapper {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.why_us_info_box {
    width: 50%;
    border-bottom: 1px solid rgb(18 93 240 / 50%);
    padding-bottom: 25px;
    margin: 0 auto;
}

.why_us_info_box:last-child {
    border-bottom: none;
}

.why_us_info_box>svg {
    width: 50px;
    height: 50px;
}

.why_us_title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
}

.why_us_text {
    font-size: 16px;
    font-weight: 300;
    margin: 5px auto 0;
}

/* END why_us */

/* Спецпропозиції */
.section_special_offers {
    padding: 100px 0 150px;
}

.special_offers_title {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.special_offers_text {
    text-align: center;
    font-weight: 200;
}

.special_offers_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.special_offers_box {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 0;
}

.special_offers_img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.special_offers_name {
    font-size: 16px;
    line-height: normal;
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 55px;
    display: flex;
    z-index: 1;
    padding: 0 10px;
    background: #17181A;
    color: #FFFEFE;
    align-items: center;
    text-align: left;
    border-radius: 3px;
}

.special_offers_data {
    font-weight: 100;
    opacity: 70%;
    color: #FFFEFE;
    text-align: left;
}

button.special_offers_box:hover {
    opacity: 70%;
}

/* END Спецпропозиції */

/* prew_pictures */
.section_prew_pictures {
    padding: 100px 0 150px;
    background-color: #17181A;
}

.prew_pictures_slide {
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 300px;
}

.prew_pictures_slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* END prew_pictures */


/* Contact */

.section_contact {
    margin-bottom: 100px;
}

.contact_map_image {
    position: relative;
}

.contact_map_image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0%), rgb(0 15 44 / 25%));
    pointer-events: none;
}

.contact_map_image:hover::before {
    background: linear-gradient(rgba(0, 0, 0, 0%), rgb(0 15 44 / 0%));
}

.contact_map {
    display: block;
    height: 450px;
}

.contact_map_img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.contact_banner {
    height: 40vh;
}

.contact_banner img {
    object-position: 0;
}

.contact_wrapper {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 30px;
}

.contact_info_box {
    border-top: 1px solid #ffffff66;
    border-bottom: 1px solid transparent;
    padding-top: 45px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 45px;
}

.map_btn {
    justify-content: flex-end;
    margin-bottom: 20px;
}

.contact_info-body>.offcanvas_info_link,
.contact_info-body>.offcanvas_info_text {
    font-size: 18px;
}

.contact_info_box>.offcanvas_info_box>.offcanvas_info_link {
    font-size: 18px;
}


/* END Contact */

/* Actions */
.actions_banner {
    height: 40vh;
    margin-bottom: 0;
}

.actions_banner img {
    object-position: center;
}

.actions_modal-dialog {
    max-width: 850px;
}

.actions_modal-content {
    background-color: #333333;
}

.actions_modal_img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 15px;
}

.actions_modal-title {
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
}

.actions_modal_text {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 200;
}

.actions_modal_btn {
    display: block;
    text-align: center;
    width: 100%;
    background: #505050;
    color: #FFFEFE;
    padding: 10px;
    transition: all ease .2s;
}

.actions_modal_btn:hover {
    background: #2c2c2c;
    color: #FFFEFE;
    text-decoration: none;
}

/* END Actions */


/*  About */

.section_about {
    margin: 150px 0 100px;
}

/* .about_wrapper{ 
    display: grid;
grid-template-columns: 40% 1fr;
gap: 20px;
} */
.about_swiper {
    width: 100%;
}

.about_box img {
    width: 50%;
    margin-bottom: 20px;

}

.about_box {
    text-align: center;
    margin-bottom: 50px;

}

.about_text {
    font-size: 24px;
    font-weight: 200;
}

.section_advantages {
    background-color: #17181A;
    padding: 100px 0 100px;
}

.advantages_title {
    text-align: center;
    margin-bottom: 80px;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.advantages_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

.advantages_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.advantages_number {
    font-size: 90px;
    font-weight: 900;
    opacity: 50%;
    line-height: normal;
    border-bottom: 1px solid #125DF0;
}

.section_about_map>a {
    display: block;
    height: 600px;
}

.section_about_map>a>img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

/* END About */

/* END Main */


/* Footer */

.footer {
    padding: 100px 0 30px;
    background-image: url(../images/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    margin-bottom: 35px;
}

.footer_title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer_title_mr {
    margin-top: 20px;
}

.footer_title>a>img {
    width: 200px;
}

.footer_text {
    font-size: 16px;
    font-weight: 300;
}

.footer_item {
    font-size: 16px;
    margin-bottom: 5px;
}

.foote_item_time>span {
    font-weight: 100;
}

.footer_link {
    color: white;
    font-weight: 300;
}

.footer_copyright {
    font-size: 14px;
    font-weight: 200;
}

.footer_social_item_wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_social_item {
    border: 1px solid rgb(255 255 255 / 30%);
    padding: 5px;
    border-radius: 5px;
}

.footer_social>svg {
    width: 25px;
    height: 25px;
}

.footer_social_item:hover {
    opacity: 75%;
}

/* END Footer */

@media (max-width: 1400px) {
    .header_logo {
        max-width: 190px;
    }

}


@media (max-width: 1200px) {
    .navbar-expand-lg {
        display: none;
    }
}

@media (max-width: 991px) {

    .our_services_head {
        align-items: flex-start;
        gap: 15px;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .contact_wrapper {
        grid-template-columns: 1fr;
    }

    .contact_map {
        height: 30vh;
    }
}

@media (max-width: 768px) {

    .why_us_wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .marquee span {
        font-size: 5em;
    }

    .special_offers_wrapper {
        grid-template-columns: 1fr;
    }

    .special_offers_name {
        height: auto;
        padding: 15px 10px;
    }

    .footer_wrapper {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .prew_pictures_slide {
        width: 205px;
        height: 150px;
    }

    .why_us_up_text {
        width: 100%;
    }

    .why_us_info_box {
        width: 100%;
    }

    .why_us_img {
        width: 65%;
        height: 200px;
        margin: 0 auto;
    }

    .our_services_slide {
        height: 280px;
    }

    .our_services_text {
        width: 100%;
    }

    .main_banner_text {
        font-size: 20px;
    }

    .main_banner {
        height: 45vh;
        margin-bottom: 60px;
    }

    .main_banner_bottom_text {
        font-size: 14px;
    }

    .section_prew_pictures {
        padding: 80px 0 100px;
    }

    .section_special_offers {
        padding: 80px 0 100px;
    }

    .contact_banner {
        margin-bottom: 10px;
    }

    .actions_modal_img {
        height: 200px;
    }

}